h1{color: gold; text-align: center; font-size: xxx-large;
   text-shadow:17px 10px 10px white;
  }
  
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  position: absolute;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 100%;
}

p{color: burlywood; font-size: larger;}
.click-style{
   background-color: gold;
   color: black;
}
.back-click{position: absolute;
top: 600px; left: 400px;}
.go-click{position: absolute;
top: 600px; right: 400px;}